nav {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ab1414;
  justify-content: center;
  padding: 8px 0;
}

nav p{
  font-size: 10px;
  
}

.navbar-img {
  width: 160px;
}
